{% load staticfiles %}
<footer class="bs-docs-footer" role="contentinfo" >
    <div class="container" >
        <p class="container text-center">Copyright &copy;<a href="http://bioinfo.life.hust.edu.cn/" target=_blank> Guo Lab</a>,<a href="http://life.hust.edu.cn/" target=_blank>&nbsp;College of Life Science and Technology</a>,<a href="http://www.hust.edu.cn" target=_blank> HUST</a>, China</p>
        <p><a href="https://med.uth.edu/bmb/labs/han-3/" target=_blank>Han Lab</a>,
        <a href="https://med.uth.edu/" target=_blank>UTHealth</a> Houston, USA</p>
        <p class="container text-center">Any comments and suggestions, please <a href="{% url 'fly:contact' %}">contact us</a></p>
    </div>
        <div style = "text-align:center; margin-top:10px;">
        <script type="text/javascript" src="//ra.revolvermaps.com/0/0/6.js?i=09peat52owq&amp;m=7&amp;s=320&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>
    </div>
</footer>
