{% load humanize %}
{% if editingGain %}
<div class="bs-docs-section">
<div class="panel panel-success">
    <div class="panel-heading">Editing causes miRNA:lncRNA Gain</div>
    <div class="panel-body">
        <table class="table table-bordered table-hover table-condensed">
            <tr>
                <th class="text-center">miRNA ID</th>
                <th class="text-center">lncRNA ID</th>
                <th class="text-center">Editing Position</th>
                <th class="text-center">Score</th>
                <th class="text-center">Energy<br />(KCal/Mol)</th>
                <th class="text-center">Binding Start<br />(TargetScan)</th>
                <th class="text-center">Binding End<br />(TargetScan)</th>
                <th class="text-center">Binding Start<br />(miRanda)</th>
                <th class="text-center">Binding End<br />(miRanda)</th>
                <th class="text-center"></th>
            </tr>
            {% for gain in editingGain %}
            <tr>
                <td> <a href="{% url 'human:mirnashow' gain.mirna_info_id %}">{{ gain.mirna_id }}</a></td>
                <td><a href="{% url 'human:lncrnashow' editingLncrna.id %}">{{ gain.lncrna_id }}</a></td>
                <td>{{ gain.chromosome }}:{{ gain.chr_edit_pos|intcomma }}</td>
                <td>{{ gain.score }}</td>
                <td>{{ gain.energy }}</td>
                <td>{{ gain.targetscan_start_r|intcomma }}</td>
                <td>{{ gain.targetscan_end_r|intcomma }}</td>
                <td>{{ gain.miranda_start_r|intcomma }}</td>
                <td>{{ gain.miranda_end_r|intcomma }}</td>
                <td><a class="btn btn-xs btn-primary " data-target=".modal" data-toggle="modal" href="{% url 'human:functiongainloss' 'gain' editingid gain.mirna_info_id %}">View</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</div>

{% endif %}
